@media screen and (max-width:600px) {
    .menu {
        display: block;
    }

    header {
        display: none;
    }

    .cards {
        flex-direction: column;

    }

    #img02 {
        width: 125%;

    }

    #img01 {
        background-image: url(img/celular.jpg);
        width: 125%;

    }

    .cards img {
        background-size: cover;
        background-position: center center;
    }

    .normal {
        margin-right: 25px;
    }



}

@media screen and (max-width:320px) {
    #img01 h1 {
        font-size: 35px;
        margin-top: 250px;
    }

    #img01 p {
        font-size: 20px;
        margin-top: 0px;

    }

    #img02 h1 {
        font-size: 35px;
    }
}

@media screen and (max-width:375px) {
    #img01 h1 {
        font-size: 35px;
        margin-top: 250px;
    }

    #img01 p {
        font-size: 20px;
        margin-top: 0px;

    }

    #img02 h1 {
        line-height: 1.3em;
        font-size: 35px;
    }
}



@media screen and (max-width:240px) {
    header {
        display: none;
    }

    .menu {
        display: block;

    }

    .menu img {
        margin: 0px;
        margin-left: 30px;
    }

    .menu ul li {
        margin-top: 15px;
        padding: 0px;
        margin-left: 60px;
    }

    #img01 {
        width: 125%;
        position: left left;
    }

    #img01 h1 {
        margin-left: 20%;
        margin-right: 20%;
        font-size: 20px;
    }

    .cards {
        flex-direction: column;
        width: 100px;
    }

    .cards h1 {
        font-size: 20px;
    }

    .cards p {
        font-size: 15px;
    }
}

.cards img {
    width: 100px;
    font-size: 15px;
}